* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Dosis", sans-serif;
  overflow: hidden;
  color: #130f30;
}

#mainContainer {
  height: 100%;
}

header {
  height: 25%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: steelblue;
}

h1 {
  margin: 0 auto;
  font-size: calc(16px + 10vmin);
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#quotesModule {
  height: 75%;
  box-sizing: border-box;
}

#content {
  height: 65%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #130f30;
}

p {
  margin: 0 auto;
  text-align: center;
  font-size: calc(12px + 3vmin);
}

#content2 {
  height: 35%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

button {
  font-family: "Dosis";
  font-size: calc(12px + 3vmin);
  width: 60vmax;
  background-color: transparent;
  border: none;
  border: 1px solid #130f30;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-top: 8px;
  padding: 5px 0;
  max-width: 1000px;
  color: #130f30;
}

a {
  padding: 5px 0;
  font-family: "Dosis";
  font-size: calc(12px + 3vmin);
  display: inline-block;
  width: 60vmax;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border: 1px solid #130f30;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  max-width: 1000px;
}

a:visited, a:active, a:link {
  color: #130f30;
}

span {
  color: grey;
}

.quote {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.author {
  text-align: right;
  font-style: italic;
}

a span {
  cursor: pointer;
}

button span {
  cursor: pointer;
}

#quotes {
  margin: 0 auto;
  width: 80vmax;
  max-width: 800px;
  text-align: center;
}

#buttons {
  width: 60vmax;
  margin: 0 auto;
  max-width: 1000px;
}

@media screen and (orientation: portrait){
  #buttons {
  width: 80vmin;
  margin: 0 auto;
  }
  
  #content {
    height: 65%;
  }
  
  #content2 {
    height: 35%;
    padding-bottom: 0;
  }
  
  button {
    width: 80vmin;
  }
  
  a {
    width: 80vmin;
  }
}