<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    
    <title>Design Quotes</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="steelblue">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="steelblue">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <link rel="stylesheet" href="./css/main.css"/>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.2/mustache.min.js"></script>
  </head>
  <body>
    <div id="mainContainer">
      <header>
        <h1>Design Quotes</h1>
      </header>
      
      <div id="quotesModule">
        <div id="content">
          <div id="quotes">
            <script id="quote-template" type="text/template">
              {{#quotes}}
                <p class="quote">{{quote}}</p><br/>
                <p class="author">{{author}}</p>
              {{/quotes}}
            </script>
          </div>
        </div>
        
        <div id="content2">
          <div id="buttons">
            <a id="tweetButt" target="_blank">Tweet This</a>
            <button id="quoteButt">New Quote</button>
          </div>
        </div>
      </div>
    
    </div>
    
    <script src="./js/quotes.js"></script>
  </body>
</html>